:root {
    --background-page-color: rgba(30, 37, 43, 1);
    
    --header-logo-color: rgba(255, 255, 255, 0.9);

    --nav-list-color: rgba(255, 255, 255, 0.55);

    --login-btn-text-color: rgba(255, 255, 255, 0.78); 
    --login-btn-background-color: rgba(30, 37, 43, 1);
    --login-btn-hover: rgba(255, 255, 255, 1);
    --login-btn-background-hover: rgba(35, 42, 48, 1);

    --sign-up-text-color: rgba(253, 245, 255, 1);
    --sign-up-background-color: rgba(255, 110, 48, 1);
    --sign-up-hover: rgba(255, 255, 255, 1);
    --sign-up-background-hover: rgba(184, 80, 36, 1);


    --hero-title-color: rgba(255, 255, 255, 0.9);
    --hero-title-point-color: rgba(255, 110, 48, 1);
    --hero-desc-color: rgba(255, 255, 255, 0.55);

    --hero-form-background-color: rgba(40, 48, 54, 1);
    --hero-form-placeholder-color: rgba(255, 255, 255, 0.38);

    --hero-form-btn-color: rgba(253, 245, 255, 1);
    --hero-form-btn-bcolor: rgba(255, 110, 48, 1);
    --hero-form-btn-hover: rgb(212, 212, 212);
    --hero-form-btn-bhover: rgba(184, 80, 36, 1);


    --popular-title-color: rgba(255, 255, 255, 0.9);
    --popular-desc-color: rgba(255, 255, 255, 0.55);
    --popular-list-ttt-title-color: rgba(255, 255, 255, 0.78);
    --popular-list-ttt-title-hover: rgba(255, 255, 255, 0.9);
    --popular-list-ttt-desc-color: rgba(255, 165, 55, 0.55);
    --popular-list-ttt-desc-hover: rgb(255, 165, 55);

    --popular-list-tools-desc-color: rgba(255, 255, 255, 0.55);
    --popular-btn-color: rgba(255, 110, 48, 1);
    --popular-btn-bcolor: rgba(30, 37, 43, 1);
    --popular-btn-hover: rgba(240, 95, 33, 1);
    --popular-btn-bhover: rgba(35, 42, 48, 1);


    --brand-title-color: rgba(255, 255, 255, 0.8);


    --newcomer-title-color: rgba(255, 255, 255, 0.9);
    --newcomer-desc-color: rgba(255, 255, 255, 0.55);
    --newcomer-btn-color: rgba(253, 245, 255, 1);
    --newcomer-btn-bcolor: rgba(255, 110, 48, 1);
    --newcomer-btn-hover: rgb(212, 212, 212);
    --newcomer-btn-bhover: rgba(184, 80, 36, 1);

    --newcomer-list-tool-title-color: rgba(255, 255, 255, 0.78);
    --newcomer-list-tool-title-hover: rgba(255, 255, 255, 0.9);
    --newcomer-list-tool-desc-color: rgba(255, 165, 55, 0.55);
    --newcomer-list-tool-desc-hover: rgba(255, 165, 55, 1);
    --newcomer-list-item-desc-color: rgba(255, 255, 255, 0.55);
    --newcomer-list-item-desc-hover: rgba(255, 255, 255, 0.78);


    --join-title-color: rgba(255, 255, 255, 0.9);
    --join-desc-color: rgba(255, 255, 255, 0.55);
    --join-form-label-input-placeholder-color: rgba(255, 255, 255, 0.38);
    --join-form-label-input-bcolor: rgba(40, 48, 54, 1);

    --join-form-btn-color: rgba(253, 245, 255, 1);
    --join-form-btn-bcolor: rgba(255, 110, 48, 1);
    --join-form-btn-hover: rgba(255, 255, 255, 1);
    --join-form-btn-bhover: rgba(184, 80, 36, 1);


    --footer-logo-color: rgba(255, 255, 255, 0.9);
    --footer-copyright-color: rgba(255, 255, 255, 0.9);
    --footer-desc-color: rgba(255, 255, 255, 0.55);
    --footer-info-list-title-color: rgba(255, 255, 255, 0.9);
    --footer-info-list-desc-color: rgba(255, 255, 255, 0.55);


    --likes-and-folders-bhover: rgba(40, 48, 54, 1);
    --visit-btn-color: rgba(253, 245, 255, 0.55);
    --visit-btn-hover: rgba(255, 255, 255, 1);
    --visit-btn-bhover: rgba(255, 110, 48, 1);
}

.body {
    background-color: var(--background-page-color);
    font-family: "Poppins";
    font-size: 16px;
}

.container {
    width: 1254px;
    padding: 0 15px;
    margin: 0 auto;
}

.header {
    padding-top: 26px;
}

.header-content-wrap {
    display: flex;
    align-items: center;
    gap: 193px;
}

.header-logo {
    margin-right: auto;
    display: flex;
    align-items: center;
}

.header-logo-img {
    margin-right: 20px;
}

.header-logo-text {
    font-size: 22px;
    font-weight: 600;
    line-height: 1.5;
    letter-spacing: 0em;
    text-align: left;
    color: var(--header-logo-color);
}

.nav-list {
    display: flex;
    gap: 40px;
}

.nav-list-item {
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0em;
    text-align: left;
}

.nav-list-item:hover {
    text-decoration: underline rgba(255, 255, 255, 0.55);
}

.nav-list-link {
    color: var(--nav-list-color);
}

.categories {
    display: flex;
}

.categories::after {
    content: "";
    width: 18px;
    height: 18px;
    display: inline-block;
    background-image: url("../images/header/an-header-chevron-down.svg");
    background-repeat: no-repeat;
    margin: 5px 0 0 3px;
}

.login-list {
    display: flex;
    margin-left: auto;
}

.login-list-item {
    font-weight: 600;
    line-height: 1.5;
    letter-spacing: 0em;
    text-align: left;
}

.login-list-btn {
    padding: 12px 28px;
    border-radius: 8px;
}

.login-btn {
    font-weight: 600;
    line-height: 1.5;
    letter-spacing: 0em;
    text-align: left;    
    color: var(--login-btn-text-color);
    background-color: var(--login-btn-background-color);
}

.login-btn:hover {
    color: var(--login-btn-hover);
    background-color: var(--login-btn-background-hover);
}

.sign-up-btn {
    font-weight: 600;
    line-height: 1.5;
    letter-spacing: 0em;
    text-align: left;    
    color: var(--sign-up-text-color);
    background-color: var(--sign-up-background-color);
}

.sign-up-btn:hover {
    color: var(--sign-up-hover);
    background-color: var(--sign-up-background-hover);
}

.hero {
    background-image: url("../images/hero/an-hero-background.png");
    background-position: right bottom;
    background-repeat: no-repeat;
    padding-top: 64px;
}

.hero-title {
    font-size: 50px;
    font-weight: 500;
    line-height: 1.4;
    letter-spacing: 0em;
    text-align: left;
    color: var(--hero-title-color);
    margin-top: 78px;
}

.hero-title-point {
    color: var(--hero-title-point-color);
}

.hero-desc {
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: left;
    color: var(--hero-desc-color);
    margin: 30px 0 60px 0;
}

.hero-content-wrap {
    display: flex;
}

.hero-form {
    background-image: url("../images/hero/an-hero-form-background.svg");
    background-size: contain;
    background-repeat: no-repeat;
    border-radius: 15px;
    display: flex;
    align-items: center;
    padding: 8px 11px;
}

.hero-form-input {
    font-size: 14px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0em;
    text-align: left;
    width: 196px;
    height: 21px;
    color: var(--hero-form-placeholder-color);
    background-color: var(--hero-form-input-bcolor);
    display: flex;
}

.hero-form::before {
    content: "";
    width: 30px;
    height: 30px;
    display: inline-block;
    background-image: url("../images/hero/an-hero-form-search.svg");
    background-repeat: no-repeat;
    margin: 5px 5px 0px 8px;
}

.hero-form-btn {
    font-weight: 600;
    line-height: 1.5;
    letter-spacing: 0em;
    text-align: left;    
    padding: 12px 36px;
    border-radius: 9px;
    margin-left: 82px;
    color: var(--hero-form-btn-color);
    background-color: var(--hero-form-btn-bcolor);
}

.hero-form-btn:hover {
    color: var(--hero-form-btn-hover);
    background-color: var(--hero-form-btn-bhover);
}

.social-media-list {
    display: flex;
    column-gap: 8px;
    margin-top: 110px;
}

.popular-title {
    font-size: 48px;
    font-weight: 500;
    line-height: 1.3;
    letter-spacing: 0em;
    text-align: center;
    color: var(--popular-title-color);
}

.popular {
    padding-top: 200px;
}

.popular-desc {
    font-size: 18px;
    font-weight: 500;
    line-height: 1.7;
    letter-spacing: 0em;
    text-align: center;
    margin-top: 24px;
    color: var(--popular-desc-color);
}

.popular-list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 100px;
    margin-top: 100px;
}

.popular-list-item {
    padding: 33px;
}

.popular-list-item:hover {
    background-image: url(../images/popular/an-popular-list-item-bhover.png);
    background-size: 386px;
    background-repeat: no-repeat;
    transform: translate(1px, -20px);
}

.popular-list-tools-title {
    display: flex;
    flex-basis: calc((100% - 48px) / 3);
    gap: 30px;
}

.popular-list-ttt-title {
    font-size: 24px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0em;
    text-align: left;
    color: var(--popular-list-ttt-title-color);
}

.popular-list-ttt-title:hover {
    color: var(--popular-list-ttt-title-hover);
}

.popular-list-ttt-desc {
    font-size: 18px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0em;
    text-align: left;  
    margin-top: 3px; 
    color: var(--popular-list-ttt-desc-color); 
}

.popular-list-ttt-desc:hover {
    color: var(--popular-list-ttt-desc-hover);
}

.popular-list-tools-desc {
    font-weight: 400;
    line-height: 1.7;
    letter-spacing: 0em;
    text-align: left;
    color: var(--popular-list-tools-desc-color);  
    margin-top: 25px;  
}

.popular-list-tools-additional-list {
    display: flex;
    margin-top: 25px;
}

.popular-list-to-ad-list-item {
    padding: 7px;
    border-radius: 8px;
    margin-right: 10px;
}

.popular-list-to-ad-list-item-like:hover {
    background-image: url(../images/popular/an-active-like.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-color: var(--likes-and-folders-bhover);
}

.popular-list-to-ad-list-item-folder:hover {
    background-image: url(../images/popular/an-active-folder.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-color: var(--likes-and-folders-bhover);
}

.popular-list-to-ad-list-item-visit {
    margin-top: 10px;
    margin-left: 114px;
}

.popular-list-to-ad-list-btn {
    font-weight: 600;
    line-height: 1.5;
    letter-spacing: 0em;
    text-align: left; 
    border-radius: 8px;   
    padding: 9px 35px;
    color: var(--visit-btn-color);
}

.popular-list-to-ad-list-btn:hover {
    color: var(--visit-btn-hover);
    background-color: var(--visit-btn-bhover);
}

.popular-btn {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0em;
    text-align: left;    
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 8px;
    padding: 17px 38px;
    color: var(--popular-btn-color);
    background-color: var(--popular-btn-bcolor);
    display: block;
    margin: 100px auto 0 auto;
}

.popular-btn:hover {
    color: var(--popular-btn-hover);
    background-color: var(--popular-btn-bhover);
}

.brand {
    padding-top: 200px;
}

.brand-content-wrap {
    background-image: url("../images/brand/an-brand-background.png");
    background-repeat: no-repeat;
    background-size: contain;
    display: flex;
    flex-direction: column;
    height: 253px;
}

.brand-title {
    font-size: 24px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0em;
    text-align: left;
    color: var(--brand-title-color);
    margin: 55px 413px;
}

.brand-list {
    display: flex;
    gap: 107px;
    margin: 0 70px;
}

.brand-list-img {
    display: inline-block;
}

.newcomer {
    padding-top: 200px;
}

.newcomer-content-wrap {
    display: flex;
}

.newcomer-title-wrap {
    width: 800px;
    margin-top: 10px;
}

.newcomer-title {
    font-size: 48px;
    font-weight: 500;
    line-height: 1.3;
    letter-spacing: 0em;
    text-align: left;   
    color: var(--newcomer-title-color); 
}

.newcomer-desc {
    font-size: 18px;
    font-weight: 500;
    line-height: 1.7;
    letter-spacing: 0em;
    text-align: left;  
    color: var(--newcomer-desc-color);  
    margin-top: 30px;
}

.newcomer-btn {
    font-size: 18px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0em;
    text-align: left;  
    color: var(--newcomer-btn-color); 
    background-color: var(--newcomer-btn-bcolor); 
    padding: 16px 40px;
    margin-top: 60px;
    border-radius: 8px;
}

.newcomer-btn:hover {
    color: var(--newcomer-btn-hover);
    background-color: var(--newcomer-btn-bhover);
}

.newcomer-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: end;
    gap: 20px;
}

.newcomer-list-item {
    flex-basis: calc((600px - 24px) / 2);
    padding: 33px;
}

.newcomer-list-item:hover {
    background-image: url(../images/newcomer/an-newcomer-list-item-bhover.png);
    background-size: 300px;
    background-repeat: no-repeat;
    transform: translate(1px, -20px);
}

.newcomer-list-title-wrap {
    display: flex;
}

.newcomer-list-title-img {
    margin-right: 30px;
}

.newcomer-list-tool-title {
    font-size: 24px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0em;
    text-align: left;  
    color: var(--newcomer-list-tool-title-color);  
}

.newcomer-list-tool-title:hover {
    color: var(--newcomer-list-tool-title-hover);
}

.newcomer-list-tool-desc {
    font-size: 18px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0em;
    text-align: left; 
    color: var(--newcomer-list-tool-desc-color);   
}

.newcomer-list-tool-desc:hover {
    color: var(--newcomer-list-tool-desc-hover);
}

.newcomer-list-item-desc {
    font-size: 14px;
    font-weight: 400;
    line-height: 1.7;
    letter-spacing: 0em;
    text-align: left; 
    margin-top: 25px; 
    color: var(--newcomer-list-item-desc-color);  
}

.newcomer-list-item-desc:hover {
    color: var(--newcomer-list-item-desc-hover);
}

.newcomer-list-item-additional-list {
    margin-top: 25px;
    display: flex;
}

.newcomer-list-item-ad-list-item {
    padding: 7px;
    border-radius: 8px;
    margin-right: 10px;
}

.newcomer-like:hover {
    background-image: url(../images/popular/an-active-like.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-color: var(--likes-and-folders-bhover);
}

.newcomer-folder:hover {
    background-image: url(../images/popular/an-active-folder.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-color: var(--likes-and-folders-bhover);
}

.newcomer-list-item-ad-list-item-visit {
    margin-top: 10px;
    margin-left: 34px;
}

.newcomer-list-item-ad-list-btn {
    font-weight: 600;
    line-height: 1.5;
    letter-spacing: 0em;
    text-align: left; 
    border-radius: 8px;   
    padding: 9px 35px;
    color: var(--visit-btn-color);
}

.newcomer-list-item-ad-list-btn:hover {
    color: var(--visit-btn-hover);
    background-color: var(--visit-btn-bhover);
}




.join {
    padding-top: 250px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.05);
}

.join-content-wrap {
    margin: 0 auto;
}

.join-title {
    font-size: 48px;
    font-weight: 500;
    line-height: 1.3;
    letter-spacing: 0em;
    text-align: center;
    color: var(--join-title-color);
}

.join-desc {
    font-size: 18px;
    font-weight: 500;
    line-height: 1.7;
    letter-spacing: 0em;
    text-align: center;
    color: var(--join-desc-color);
    margin: 25px 0 90px 0;
}

.join-form {
    height: 64px;
    background-image: url(../images/join/an-join-form-background.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    display: flex;
    align-items: center;
    margin: 0 auto 240px auto;
}

.join-form-label-input {
    background-color: var(--join-form-label-input-bcolor);
    margin-left: 375px;
}

.join-form-btn {
    color: var(--join-form-btn-color);
    background-color: var(--join-form-btn-bcolor);
    padding: 12px 36px;
    border-radius: 8px;
    margin-left: 150px;
}

.join-form-btn:hover {
    color: var(--join-form-btn-hover);
    background-color: var(--join-form-btn-bhover);
}


.footer-logo-wrap {
    display: flex;
}

.footer-logo {
    font-size: 22px;
    font-weight: 600;
    line-height: 1.5;
    letter-spacing: 0em;
    text-align: left; 
    color: var(--footer-logo-color);   
}

.footer-copyright {
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0em;
    text-align: left;  
    color: var(--footer-copyright-color);  
}

.footer-desc {
    font-size: 14px;
    font-weight: 400;
    line-height: 1.8;
    letter-spacing: 0em;
    text-align: left;
    color: var(--footer-desc-color);
}

.footer-info-item-title {
    font-size: 1.2em;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0em;
    text-align: left;   
    color: var(--footer-info-list-title-color); 
}

.footer-info-item {
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0em;
    text-align: left;   
    color: var(--footer-info-list-desc-color); 
}